<?xml version="1.0"?>
<configuration>
	<configSections>
  <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
   <section name="Logistics.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
  </sectionGroup>
 </configSections>
 <connectionStrings>
   <add name="LogConnectionString" connectionString="Data Source=Local-Logistics;Initial Catalog=Logistics;User ID=LogisticsUser;Password=logistics" providerName="System.Data.SqlClient"/>
   <!--add name="LogConnectionString" connectionString="Data Source=(local);Initial Catalog=Logistics;User ID=LogisticsUser;Password=logistics" providerName="System.Data.SqlClient" /-->
 </connectionStrings>
 <applicationSettings>
  <Logistics.Properties.Settings>
   <setting name="ConnectionStringName" serializeAs="String">
    <value>LogConnectionString</value>
   </setting>
   <setting name="HelpResourceName" serializeAs="String">
    <value>Logistics.chm</value>
   </setting>
   <setting name="MapCenterLatitude" serializeAs="String">
    <value>55.751637</value>
   </setting>
   <setting name="MapCenterLongitude" serializeAs="String">
    <value>37.618702</value>
   </setting>
   <setting name="MapBaseLatitude" serializeAs="String">
    <value>55.555333</value>
   </setting>
   <setting name="MapBaseLongitude" serializeAs="String">
    <value>38.115555</value>
   </setting>
  </Logistics.Properties.Settings>
 </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
